<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.uniparthenope.parthenopeddit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".android.PrivacyActivity"></activity>
        <activity android:name=".android.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".android.UserBoardsActivity"
            android:label="@string/title_activity_user_boards"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".android.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".android.CourseActivity"
            android:label="@string/title_activity_review"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".android.SettingsActivity" />
        <activity
            android:name=".android.UserActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="it.uniparthenope.parthenopeddit.android.UserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".android.AboutActivity" />
        <activity
            android:name=".android.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".android.ui.newGroup.NewGroupActivity" />
        <activity android:name=".android.ui.newPost.NewPostActivity" />
        <activity android:name=".android.ui.newReview.NewReviewActivity" />
        <activity
            android:name=".android.HomeActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".android.CommentActivity" />
    </application>

</manifest>